/* GENERAL RULES -------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.cont_center {
    text-align: center;
}

/* MAIN RULES -------------------- */
h1 p {
    font-size: 3rem;
    text-align: center;
    padding: 20px 0;
}

header p {
    font-size: 1.5rem;
}

#container {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

    /* image rules */
#container img {
    display: block;
}

#container img:hover {
    transform: scale(1.2);
    filter: opacity(.7);
    transition: linear 1.3s;
}

.img_container {
    width: 600px;
    height: 300px;
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
}
    /* my_button rules */
.my_button {
    width: 100%;
    text-align: center;
    margin: 30px;
}

.my_button button {
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 20px;
    border: 0;
    box-shadow: 2px 2px 7px 2px rgba(75, 75, 75, .3);
}

.my_button button:hover {
    font-weight: 600;
    background-color: #6495ed;
    color: #fff;
    cursor: pointer;
}