/* GENERAL RULES -------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

/* HEADER RULES -------------------- */
header {
    font-size: 3rem;
    text-align: center;
    padding: 20px 0;
}

header p {
    font-size: 1.5rem;
}

/* MAIN RULES -------------------- */
#container {
    padding: 20px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#container img {
    display: block;
}

#container img:hover {
    transform: scale(1.2);
    filter: opacity(.7);
    transition: linear 1.3s;
}

.img_container {
    width: 600px;
    height: 300;
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
}